.body-login {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {

    text-align: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.login-button {
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.login-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-form a {
    color: #007BFF;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}